@tailwind base;
@tailwind components;
@tailwind utilities;
  
*{
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.magnetic-component {
    width: 100px;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }

  .custom-dashed-border {
    position: relative;
    display: inline-block;
    border-radius: 9999px; /* Fully rounded */
    background: white;
    border: none
  }
  
  .custom-dashed-border::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit; /* Inherit the rounded border from the parent */
    border: 2px dashed black; /* Dashed border */
    padding: 10px; /* Adds padding to match the layout */
    box-sizing: border-box;
    transform: scale(1.05);
    border-image: repeating-linear-gradient(
      (130deg), /* Angle for the dashes around a rounded shape */
      black 0, 
      black 5px, 
      transparent 15px, 
      transparent 20px
    ) 1; /* Adjust scaling to make the border perfectly wrap */
  }


  /* styles/globals.css */

@font-face {
  font-family: 'Clash Display';
  font-weight: 400;
  src: url('/fonts/ClashDisplay-Regular.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Regular.woff') format('woff'),
       url('/fonts/ClashDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Clash Display';
  font-weight: 700;
  src: url('/fonts/ClashDisplay-Bold.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Bold.woff') format('woff'),
       url('/fonts/ClashDisplay-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Clash Display';
  font-weight: 300;
  src: url('/fonts/ClashDisplay-Light.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Light.woff') format('woff'),
       url('/fonts/ClashDisplay-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Clash Display';
  font-weight: 500;
  src: url('/fonts/ClashDisplay-Medium.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Medium.woff') format('woff'),
       url('/fonts/ClashDisplay-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Clash Display';
  font-weight: 200;
  src: url('/fonts/ClashDisplay-Extralight.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Extralight.woff') format('woff'),
       url('/fonts/ClashDisplay-Extralight.ttf') format('truetype');
}


.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  font-size: 52px;
  display: flex;
  gap: 20px;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 10px;
}
